services:
  - type: web
    name: optovka-api
    env: python
    region: oregon
    plan: free
    rootDir: api_service
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn src.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_3Fbhdtps9oNJ@ep-delicate-lake-ady7nsxm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      - key: PORT
        value: "10000"
  - type: cron
    name: optovka-parser
    env: python
    region: oregon
    rootDir: optovka_kz
    buildCommand: |
      apt-get update && 
      apt-get install -y chromium chromium-driver wget gnupg && 
      pip install -r requirements.txt
    startCommand: scrapy crawl optoviki
    schedule: 0 2 * * *
    envVars:
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_3Fbhdtps9oNJ@ep-delicate-lake-ady7nsxm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      - key: SELENIUM_DRIVER_EXECUTABLE_PATH
        value: /usr/bin/chromedriver
      - key: SELENIUM_HEADLESS
        value: "true"
